body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

.cards-container {
  display: grid;
  max-width: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.card {
  border: 5px solid black;
  min-height: 250px;
}